/* =================
  WRITE YOUR CSS HERE.
  Check the ⌄ for help with formatting and validating your code.
  You must write some CSS to complete this challenge.
   ===================
*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');

html,
body {
 
  margin: 0;
  height: 100%;
  background-color: #696969;
  color: black;
  padding: 1.5em;
  font-family: Josefin+Sans: 
}

.c-site-header {
  background-color: gray;
  color: Orange;
  padding: 50px;
  margin: 10px 0px 0px 10px;
}

.c-site-links{
  background-color: gray;
  text-align: center;
  color: black;
  padding: 20px;
  margin: 5px 10px 0px 10px;
  
}

a {
  color: black;
  
}

a:hover {
  color: orange;
}

h1{
  color: Orange;
  text-align: center;
  opacity: 0.6;
  font-style: italic;
}

h2{
  color: Orange;
  text-align: center;
  opacity: 0.9;
  margin: 5%;
  padding: 1px;
}

div{
  background-color: gray;
  color: black;
  padding: 50px;
  margin: 10px 0px 0px 10px;
  display: flex-start;
  
}

p {
  color: black;
  text-align: left;
  opacity: 0.8;
   margin: 5%;
  padding: 1px;
  font-family: Josefin;
}

ul{
  color: black;
  text-align: left;
  opacity: 0.8;
  margin: 5%;
  padding: 10px;
}

.img{
  max-width: 100%;
  height: auto;
}

.video{
display: flex;
flex-direction: column;
align-items: center;
}


.iframe-self {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
}

footer {
  opacity: 0.8;
  margin: 1%;
  padding: 1px;
  
}

@media only screen and (max-width: 600px) {
  body {
    background-color: gray;
  }
}

/* don't edit this */
.jest-lite-report__status--pass {
  background: var(--color-pass);
}
.jest-lite-report__errors { display:none }
